# Environment Variables
PORT=8000
DATABASE_URL="postgresql://user:password@host:5432/database?pgbouncer=true"
DIRECT_URL="postgresql://user:password@host:5432/database"
NODE_ENV=development
CLIENT_URL="http://localhost:3000"
